# This is a basic workflow to help you get started with Actions

name: Deploy IwaysDream functions

# Controls when the workflow will run
on:
  push:
    branches: [ main ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    name: Build
    steps:
      - uses: actions/setup-node@v2
        with:
          node-version: '22.12.0'
      - name: Checkout Repo
        uses: actions/checkout@master

      - name: Install Dependencies
        run: npm install

      - name: Build
        run: |
          npm run build

      # Deploying the functions to firebase
      # firebase deploy --token "${{ secrets.FIREBASE_TOKEN }}"
      - name: Deploy to Firebase
        uses: w9jds/firebase-action@master
        with:
          args: deploy --only functions
        env:
          FIREBASE_TOKEN: "${{ secrets.FIREBASE_TOKEN }}"