# This is a basic workflow to help you get started with Actions

name: Deploy IwaysDream functions

# Controls when the workflow will run
on:
  push:
    branches: [ main ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    name: Build
    steps:
      - uses: actions/setup-node@v2
        with:
          node-version: '22.12.0'
      - name: Checkout Repo
        uses: actions/checkout@master

      - name: Install Dependencies
        run: npm install

      - name: Build
        run: |
          npm run build

      - name: Install Firebase CLI
        run: npm install -g firebase-tools

      - name: Authenticate with Firebase
        run: |
          echo '${{ secrets.FIREBASE_SERVICE_ACCOUNT_IWAYSDREAM }}' > $HOME/serviceAccountKey.json
        shell: bash

      - name: Deploy Firebase Functions
        env:
          GOOGLE_APPLICATION_CREDENTIALS: $HOME/serviceAccountKey.json
        run: firebase deploy --project iwaysdream